@import url(https://api.fontshare.com/css?f[]=chillax@500&display=swap);


.App {
  overflow-x: hidden;
  font-family: 'Chillax';
  
}

a{
  text-decoration: none;
  color: #ffffff;
}

.App-header {
  background-color: #1A1A1A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App2-header{
  background-color: #1A1A1A;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App3-header{
  background-color: #1A1A1A;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App4-header{
  background-color: #1A1A1A;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App5-header{
  background-color: #1A1A1A;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}


.titleDifferent{
  font-size:calc(34px + 2vmin);
  margin-left: 7vw;
  margin-top: 6vw;
}


.headerNav{
  position: absolute;
  background: rgb(0, 0, 0);
  width: 100vw;
  height: 11vh;
}

.beeNav{
  position: absolute;
  left: 20px;
  top: 24px;
  width: 115px;
  height: 50px;
}

.liberty{
  z-index: 9999;
  font-size: 3em;
  font-weight: bold;
}
.trots{
  position: absolute;
  width: 60vw;
}

.Dright{
  z-index: 0;
  position: absolute;
  right: -1vW;
}

.Dleft{
  z-index: 0;
  position: absolute;
  left: -1vW;
}
.navBar{
  list-style: none;
  text-decoration: none;
}
.menuHead{
  display: flex;
  margin-top: 16px;
  margin-right: 20vw;
  float: right;
  font-size: 1.5em;
  color: #1A1A1A;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
}

li{
  margin: 20px;
}
.ride{
  position: relative;
  top: -6.2vw;
  font-size: 1.6em;
}

.union{
  position: relative;
  top: -7vw;
  background: #ffffff;
  height: 2px;
  width: 350px;
}

.arrow{
  position:absolute;
  bottom: 1vw;
  height: 5vmin ;
}

.wheelie{
  width: 75vw;
}

.ruche{
  width: 100vw;
}

.blur{
  width: 110vw;
}

.infos{
  position: relative;
  top: 200px;
}

.bgBlur{
  width: 100vw;
}

.bee1{
  margin-left: -68vw;
  font-size:calc(34px + 2vmin);
  color: #ffffff;
}
.yellowBee{
  font-size:calc(34px + 2vmin);
  color: #FFF200;
}

.footerImg{
 width: 100vw;
 height: 82vh;
}

