@import url(https://api.fontshare.com/css?f[]=chillax@500&display=swap);


.App {
  font-family: 'Chillax';
  text-align: center;
}

.App-logo {
  height: 50vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.headerNav{
  position: absolute;
  background: rgb(0, 0, 0);
  width: 100vw;
  height: 11vh;
}

.beeNav{

  position: absolute;
  left: 20px;
  top: 24px;
  width: 115px;
  height: 50px;
}

.liberty{
  z-index: 9999;
  color: black;
  font-size: 1em;
  font-weight: bold;
}

.Dright{
  z-index: 0;
  position: absolute;
  right: -1vW;
}

.Dleft{
  z-index: 0;
  position: absolute;
  left: -1vW;
}